<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PongWinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PongWinForms.Properties.Settings>
            <setting name="SinglePlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxScore" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PaddleSpeed" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BallSpeed" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MaxBounceAngleDeg" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MaxBallSpeed" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="PaddleHeight" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="StartFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PowerUpsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PowerUpSpawnIntervalSec" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="PowerUpDurationSec" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="NetworkMode" serializeAs="String">
                <value>Offline</value>
            </setting>
            <setting name="HostIp" serializeAs="String">
                <value />
            </setting>
            <setting name="NetPort" serializeAs="String">
                <value>51337</value>
            </setting>
        </PongWinForms.Properties.Settings>
    </userSettings>
</configuration>